.blockhead{color: red;}
.fronthead{border: 10px solid blue; display: inline-block;background-color: aqua;padding: 27px;
margin:5px}
.ironhead{border: solid yellow;background-color:bisque;display:inline-block;padding:23px;margin:20px;}